#app {
    background-color: burlywood;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-row-gap: 15px;

    font-family: 'impact', sans-serif;
}

header,
footer,
main {
    background-color: azure;
}

header {
    padding: 15px;
}

.cart {
    float: right;
    height: 100%;
}

.widget-cart {
    /*display: none;*/
    float: left;
    margin-right: 20px;

    position: absolute;
    top: 126px;
    right: 127px;
    background: antiquewhite;
    padding: 10px;
}

#close-cart-btn {
    right: 2px;
    top: 2px;
    position: absolute;
}

.btn-cart {
    height: inherit;
    padding: 30px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 10px 15px;
}

.product-item {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: burlywood;

    display: grid;
    grid-gap: 15px;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
        "header header header"
        "center center center"
        "price dec-btn add-btn";
}

.product-item h3 {
    grid-area: header;
    text-align: right;
}

.product-image {
    border: 1px solid black;
    grid-area: center;
}

.product-item p {
    grid-area: price;
}
.product-item .buy-btn {
    grid-area: add-btn;
}
.product-item .dec-btn {
    grid-area: dec-btn;
}