.wrapper {
    padding-top: 30px;
    text-align: -webkit-center;
}

.form {

}

.form-field {
    display: block;
    margin-top: 10px;
    min-width: 200px;
    height: 30px;
    border-radius: 5%;
}

.alert {
    border: red 1px solid;
}

.field-is-valid {
    display: none;
}